body {
	background-color: aquamarine;
}


#container {
	background-color: darkgrey;
}


#title {
	background-color: #191970;
	color:white;
	height: 50px;
	font-size: 32pt;


}
p {
	font-size: 32pt;
}

#heading {
	background-color: #191970;
	color:white;
	height: 50px;
	font-size: 16pt;
}

th{
	font-size: 14pt;
}

label {
	font-size: 14pt;


}
footer {
	background-color: #191970;
	width:100%;
	height: 100px;
	text-align: center;
	color: white;
	font-size: 48pt;


}











